version: 2.1

jobs:
  empaca:
    docker: # run the steps with Docker
      - image: circleci/openjdk:11.0.3-jdk-stretch # ...with this image as the primary container; this is where all `steps` will run
        auth:
          username: wterry
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Empaca
          command: mvn install
      - add_ssh_keys
      - run:
          name: Prepara known hosts
          command: echo '5.189.172.240 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBMv+92/qNq+m1L37qsiURpVwbKMQ13vGdffJYCwuF4CDPfcsefTJHrFMCul43mBH04yFGlpbOPjlQ3vltx/PC0U=' >> ~/.ssh/known_hosts
      - run:
          name: valida hosts conocidos
          command: cat ~/.ssh/known_hosts
      - run:
          name: copia archivo
          command: scp -P 22 target/helloWorldRest-1.0.0.jar legosoft@5.189.172.240:~/testCI
      - run:
          name: autoriza archivo
          command: ssh legosoft@5.189.172.240 -v chmod 755 ~/testCI/helloWorldRest-1.0.0.jar
      - run:
          name: arranca aplicacion
          command: ssh legosoft@5.189.172.240 -v nohup java -jar ~/testCI/helloWorldRest-1.0.0.jar

workflows:
  maven_manual_deploy:
    jobs:
      - empaca