version: 2.1



jobs:
  build:
    steps:
      - run:
          name: Empaca
          command: mvn install
  deploy:
    machine:
      enabled: true
    steps:
      - run:
          name: Arranca jar
          command: >-
            scp -P 22 target/helloWorldRest-1.0.0.jar legosoft@5.189.172.240:~/testCI &&
            ssh $SSH_USER@$SSH_HOST "nohup java -jar ~/testCI/helloWorldRest-1.0.0.jar"


workflows:
  maven_test:
    jobs:
      - build
      - deploy


