version: 2.1

orbs:
  slack: circleci/slack@4.1

jobs:
  empaca:
    docker: # run the steps with Docker
      - image: circleci/openjdk:11.0.3-jdk-stretch # ...with this image as the primary container; this is where all `steps` will run
        auth:
          username: wterry
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Empaca
          command: mvn install
      - add_ssh_keys
      - run:
          name: Prepara known hosts
          command: echo '5.189.172.240 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBMv+92/qNq+m1L37qsiURpVwbKMQ13vGdffJYCwuF4CDPfcsefTJHrFMCul43mBH04yFGlpbOPjlQ3vltx/PC0U=' >> ~/.ssh/known_hosts
      - run:
          name: valida hosts conocidos
          command: cat ~/.ssh/known_hosts
      - run:
          name: copia archivo
          command: scp -P 22 target/helloWorldRest-1.0.0.jar $SSH_USER@$SSH_HOST:~/testCI
      - run:
          name: autoriza archivo
          command: ssh $SSH_USER@$SSH_HOST -v chmod 755 /home/legosoft/testCI/helloWorldRest-1.0.0.jar
      - run:
          name: arranca aplicacion
          command: ssh $SSH_USER@$SSH_HOST -v nohup java -jar /home/legosoft/testCI/helloWorldRest-1.0.0.jar
  notificar:
    docker:
      - image: 'cimg/base:stable'
        auth:
          username: wterry
          password: $DOCKERHUB_PASSWORD
      steps:
        - slack/notify:
            custom: |
              {
                "blocks": [
                  {
                    "type": "section",
                    "fields": [
                      {
                        "type": "plain_text",
                        "text": "Hello world por Slack!",
                        "emoji": true
                      }
                    ]
                  }
                ]
              }
            event: always


workflows:
  send-notification:
    jobs:
      - notificar:
          context: configuracion-slack
  maven_manual_deploy:
    jobs:
      - empaca

